.homepageContainer {
    background-image: url('../../Images/IMG_0446.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    opacity: 80%;
    z-index: 999;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 7vh;
}

.homeHOne {
    font-size: 4rem;
    margin: 0;
    position: relative;
    margin-top: 70vh;
    color: #FFFFFF;
    opacity: 100%;
    font-weight: bold;
}

.homeHTwo {
    font-size: 3rem;
    letter-spacing: .4rem;
    margin: 0;
    color: #FFFFFF;
    opacity: 120%;
}