.hamContainer {
    width: 100%;
    position: fixed;
    z-index: 998;
    border-bottom: 2px solid #000000;
    background-color: #ffffff;
    display: grid;
    grid-template-areas:
    "name burgerLines";
    grid-template-columns: 50% 50%;
}
.name {
    grid-area: name;
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
    margin-left: 10px;
    font-weight: bold;
    letter-spacing: .5px;
    text-decoration: underline overline;
    text-underline-offset: 7px;

}
.hamburger {
    width: 100%;
    overflow: hidden;
    display: grid;
    margin-top: .5rem;
    grid-area: burgerLines;
    justify-content: center;
}

#navLines {
    width: 2.5rem;
    height: .5rem;
    background-color: #000000;
    margin-bottom: .25rem;
    list-style: none;
    
}

/* pop up menu styling */
.visible {
    display: inherit;
}
.hidden {
    display: none;
}

.linksList {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-size: 2.5rem;
    height: 100vh;
    width: 100%;
    position: fixed;
    justify-content: center;
    line-height: 5rem;
    background-color: hsla(0, 0%, 0%, 75%);
    overflow-y:hidden;
    z-index: 997;
    text-align: center;
}

a {
    margin: 0;
    letter-spacing: .25rem;
    color: #ffffff;
    text-decoratioN: none;
    font-family: 'Lato', sans-serif;
}
a:hover {
    color: #900D09;
}
 .burgerBar.clicked:nth-child(1) {
   transform: rotate(45deg) translate(.55rem, .5rem);
   transition: ease-out 0.5s;
   background-color: #000000;
 }
    
 .burgerBar.clicked:nth-child(2) {
   transform: scale(.1);
   transition: ease-out 0.5s;
   background-color: #000000;
 }
 .burgerBar.clicked:nth-child(3) {
    transform: rotate(135deg) translate(-.45rem, .6rem);
    transition: ease-out 0.5s;
    background-color: #000000;
  }

.burgerBar.unclicked {
    transition: ease-out 0.5s;
}


